/target/
/**/target/
!.mvn/wrapper/maven-wrapper.jar
.logs
.mvn
*.log
/**/logs
**/mvnw
**/mvnw.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
**/*.iml

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/**/tools-codegen/src/code/resources/mapper/*.xml
/**/tools-codegen/src/code/java/com/xiaoyi/iot/**
